:root {
  /* size */
  --my-img-size: 60px;
  --friend-img-size: 50px;
  --base-space: 30px;
  --img-name-space: 20px;
  --title-space: 10px;

  /* font */
  --font-weight-header: 600;
  --font-weight-name: 300;
  --font-weight-light: 200;

  /* color */
  --border-color: #dfe6e9;
  --nav-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 10px var(--base-space);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.fixed-top {
  left: 0;
  position: fixed;
  top: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--base-space);
  opacity: 0.7;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
}

.status-bar .icons * {
  margin-left: 10px;
}

.icons .icon {
  margin-left: 20px;
}

.main_content {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 30px;
  top: 100px;
  box-sizing: border-box;
  bottom: 60px;
  overflow: auto;
  -webkit-animation: fadein 1s ease-in-out;
}

.friends_img_text {
  display: flex;
  align-items: center;
  margin-top: var(--title-space);
}

.friends_name {
  font-weight: var(--font-weight-name);
}

.friends_msg {
  font-weight: var(--font-weight-light);
}

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
  width: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  -webkit-animation: fadein 1s; /* Safari and Chrome */
}

.nav .nav_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
